@import "tailwindcss";

body {
  font-family: "Fredoka", sans-serif;
}

@theme {
  --animate-toss: toss 1s ease-in-out infinite;

  @keyframes toss {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-20deg);
    }
    50% {
      transform: rotate(15deg) translateY(-10px)
    }
    75% { 
      transform: rotate(20deg);
    }
  }
}